<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://arboretumcohousing.org/wordpress/">
                        <img style="max-height:100px;" src="img/logos/arbco.jpg" class="img-responsive img-centered" alt="https://arboretumcohousing.org/wordpress/">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.villagecohousingcommunity.com/">
                        <img style="max-height:100px;" src="img/logos/village.png" class="img-responsive img-centered" alt="http://www.villagecohousingcommunity.com/">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.cohousing.org/">
                        <img style="max-height:100px;" src="img/logos/cohousing.png" class="img-responsive img-centered" alt="https://www.cohousing.org/">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://lindencohousing.org/">
                        <img style="max-height:100px;" src="img/logos/linden.png" class="img-responsive img-centered" alt="https://lindencohousing.org/">
                    </a>
                </div>
            </div>
        </div>
    </aside>