<!-- Team Section -->
    <section id="community" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Community</h2>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <img src="img/portfolio/community.jpg" class="img-responsive" style="max-width:600px;margin:auto;padding:50px;" alt="a photo of {{ member.name }} goes here">
                        <p class="large text-muted">Get better picture froma potluck. Explanation of our growing community and how many people are interested etc.</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Our Board</h3>
                </div>
                {% for member in site.people %}
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" style="width:100%;max-width:175px;" alt="a photo of {{ member.name }} goes here">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>