<!-- Services Section -->
    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Mission</h2>
                    <h3 style="max-width:800px;margin:auto;margin-bottom:50px;" class="section-subheading text-muted">Our goal is to create a strong and happy, <strong>multigenerational</strong>, <strong>owner-occupied</strong> <a href="https://www.cohousing.org/urban-cohousing/">urban cohousing</a> community in the <strong>heart of Madison</strong>.  Our community will thrive on <strong>collective decision-making</strong>, <strong>shared work</strong>, and <strong>shared resources</strong>, which will allow us to live <strong>sustainably</strong>, <strong>affordably</strong>, and in <strong>connection</strong> with each other.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ownership</h4>
                    <p class="text-muted">Our cohousing group advocates for home ownership to empower members with the opportunity to build equity and shape their own destinies, fostering a sense of ownership and financial stability while enabling individuals to actively participate in decisions that impact their lives and the collective community vision.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sustainabiity</h4>
                    <p class="text-muted">We aim to build for sustainability both in how we build our environment as well as targeting walkable neighborhoods. Not only to minimize our environmental impact but also to promote active lifestyles, enhance community cohesion, and foster a sense of interconnectedness among residents, leading to a healthier, more vibrant living environment both now and in the future.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community</h4>
                    <p class="text-muted">Our community stands as the nucleus of our built environment, where multigenerational bonds, strengthened by collaborative decision-making, shared labor, and pooled resources, create a vibrant and inclusive space that enriches the lives of all members.</p>
                </div>
            </div>
        </div>
    </section>