<!-- Services Section -->
    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Mission & Values</h2>
                    <h3 style="max-width:800px;margin:auto;margin-bottom:50px;" class="section-subheading text-muted">Our goal is to create a strong and happy, <strong>multigenerational</strong>, <strong>owner-occupied</strong> <a href="https://www.cohousing.org/urban-cohousing/">urban cohousing</a> community in the <strong>heart of Madison</strong>.  Our community will thrive on <strong>collective decision-making</strong>, <strong>shared work</strong>, and <strong>shared resources</strong>, which will allow us to live <strong>sustainably</strong>, <strong>affordably</strong>, and in <strong>connection</strong> with each other.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Member Ownership and Control</h4>
                    <p class="text-muted">Our community is owned and run by its members. We have the privilege of collective control and power over our shared living space and individual control and power over our private living space.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Member Responsibility</h4>
                    <p class="text-muted">Members are responsible for the collective success of the community. Members have a responsibility to participate and do the work necessary to run the community in the ways they are able and prefer. Our intent is for members to manage and maintain the community as much as possible, rather than hiring it out to a third party. Members are also responsible for behaving in a way that contributes to community success and well-being.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Interaction and Neighborliness</h4>
                    <p class="text-muted">We value meaningful, regular interaction among our members so we can support one another, grow friendships, and live in harmony. We aim to be good neighbors to each other and to the  community in which we live. We celebrate and support opportunities for growth as individuals and as a community in learning to live together effectively, and work through challenges. We simultaneously respect the need for privacy and boundaries.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collaborative Conflict Resolution</h4>
                    <p class="text-muted">We acknowledge that conflict is inevitable, and we commit to actively working through and resolving these conflicts. We recognize that conflict resolution takes work and that this work is an important part of our community’s processes. Open communication is essential to a healthy community, and we communicate with respect and help each other to feel safe even when we disagree. We value cooperation and compromise.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-transgender-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inclusivity</h4>
                    <p class="text-muted">We are an inclusive community that respects, values, and celebrates the diversity of our members and potential members. We are committed to honoring and adapting to the diverse abilities, needs, desires, opinions, and preferences of our members, including providing a living space that meets physical accessibility needs. We welcome new members from all walks of life. </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-rock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Resilience</h4>
                    <p class="text-muted">The long-term social, physical, and financial stability and success of our community is important to us. We aim to be mindful of our human resources, be financially responsible, treat our land and building(s) with respect, and plan realistically for future needs. We aim to create buildings, grounds, and organizational structures that are pleasant, comfortable, safe, and joyful.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Environmental Sustainability</h4>
                    <p class="text-muted">We acknowledge the impact that humans have on our planet and aim, through our collective and individual decisions, to minimize the negative impact we have on the environment. We aim to make architectural and location choices that emphasize environmental sustainability and make a more sustainable lifestyle possible.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Financial Accessibility</h4>
                    <p class="text-muted">We aim to be financially accessible to members and potential members with a range of incomes. We make decisions that take into account the costs they incur, being sensitive to the impact the incurred cost has on people’s lives and well-being and trying to minimize that cost and impact.</p>
                </div>
            </div>
        </div>
    </section>